 <!-- Template de login de usuario, deixe parecido com um :) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Esse <form> abre o formulario-->
  <!-- "{% url 'login' %}" linkar os dados do form para a url login--> 
  <!-- Em hipotese alguma mecha nessa primeira linha do forms :) --> 
  <form action="{% url 'login' %}" method="POST">{% csrf_token %}
    <!-- Daqui pra baixo pode mecher-->
    <!-- So mantenha o mesmo 'name=...' para nao quebrar o codigo -->
    <input type="text" placeholder="Username..." name="username">
    <br>
    <br>
    <input type="password" placeholder="Senha..." name="senha">
    <br>
    <br>
    <!-- Esse aque é um botao, mantenha so o type='submit' para poser enviar o form -->
    <input type="submit" value="cadastrar">
  </form>
</body>
</html>